html {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
}
* {
    background-color: #1A1919;
    font-size: 20px;
    list-style-type: none;
}

body{
    color: #DAD3CE;
    font-family:mononoki;
}

@font-face {
  font-family: mononoki;
  src: url(./mononoki.woff);
}

pre {
    /*background: #a89984;*/
    border: 10px solid #928374;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    white-space: pre-wrap;
}

h1 {
    font-size: 30px;
    color: #e66337;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #cc722e;
}

h3 {
    font-size: 22px;
    color: #E48D4C;
}

code {
	background-color: #9B744E;
	/*border: 5px solid #928374;*/
	border-radius: 5px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

ul li {
    list-style: inside circle;
    display:list-item;
}

table {
  border-collapse: collapse;
  border: 2px solid #7c6f64;
}

th,td {
  border: 2px solid #7c6f64;
}

a {
    color: #E09A5E;
}

a:hover {
    color: #d5c4a1;
}

img {
    max-width: 50%;
    height: auto;
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #7c6f64;
  background-color: #E09A5e;
  color: white;
}
button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #7c6f64;
  background-color: #E09A5e;
  color: white;
}

#bar {
    text-align: center;
}
