<p><span id="content"></span></p>
<h1 class="title" id="emacs-spell-check">Emacs spell check</h1>
<p><span id="outline-container-orgd651990"></span></p>
<h2 id="orgd651990">Why?</h2>
<p><span id="text-orgd651990"></span> It is essential when doing writing that you have some way to check your spelling errors. Especially if your someone like me that makes them frequently.</p>
<p><span id="outline-container-orgbeaed2a"></span></p>
<h2 id="orgbeaed2a">What to do?</h2>
<p><span id="text-orgbeaed2a"></span></p>
<ol>
<li>Specify in your config a location to a spell checking program.</li>
</ol>
<p><code class="verbatim">(setq ispell-program-name "C:/SGZ_Pro/z-Apps_Drivers/Hunspell/hunspell-1.3.2-3-w32-bin/bin/hunspell.exe")</code></p>
<ol>
<li>Restart emacs</li>
<li>Now to launch emacs spell checking programming you do <code class="verbatim">M-x flyspell-mode</code></li>
</ol>
<p>Now emacs will highlight the words you misspelled and with <code class="verbatim">[s</code> you can go backwards in misspelled words and with <code class="verbatim">]s</code> You can go forward in misspelled words. Then z= to give a prompt of correct words that can be used to replace the misspelled words</p>
<p><span id="postamble"></span> Created: 2021-11-20 Sat 10:59</p>
<p><a href="http://validator.w3.org/check?uri=referer">Validate</a></p>
